<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmbeddedSystemsCareerGuide"
        tools:targetApi="31">

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.introduction.IntroductionActivity"
            android:exported="false"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true" />

        <activity
            android:name=".ui.assessment.AssessmentActivity"
            android:exported="false" />

        <activity
            android:name=".ui.assessment.ReportViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

        <activity
            android:name=".ui.quiz.QuizActivity"
            android:exported="false"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

        <!-- V2: Content Reading Activity for Kindle-style learning -->
        <activity
            android:name=".ui.content.ContentReadingActivity"
            android:exported="false"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

        <!-- Pre-Release Event Challenge Activities -->
        <activity
            android:name=".ui.challenge.ChallengeLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

        <activity
            android:name=".ui.challenge.RollNumberEntryActivity"
            android:exported="false"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

        <activity
            android:name=".ui.challenge.Challenge1Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

        <activity
            android:name=".ui.challenge.Challenge2Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

        <activity
            android:name=".ui.challenge.Challenge3Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

        <activity
            android:name=".ui.challenge.RankingDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

        <activity
            android:name=".ui.challenge.AdminDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.EmbeddedSystemsCareerGuide" />

    </application>

</manifest>